<section class="event-form-card">

  <form [formGroup]="eventForm" (ngSubmit)="submitEvent()">
    <div class="form-row">
      <label>Application *</label>
      <input type="text" formControlName="application" placeholder="e.g. frontend" />
      <div class="error" *ngIf="application?.invalid && application?.touched">
        Application is required
      </div>
    </div>

    <div class="form-row">
      <label>Message *</label>
      <textarea rows="3" formControlName="message" placeholder="Describe the error"></textarea>
      <div class="error" *ngIf="message?.invalid && message?.touched">
        Message is required
      </div>
    </div>

    <div class="form-row split four">
      <label>
        Severity *
        <app-custom-select
          formControlName="severity"
          [options]="severityOptions"
          [placeholder]="'Severity'">
        </app-custom-select>
      </label>

      <label>
        Environment *
        <app-custom-select
          formControlName="environment"
          [options]="environmentOptions"
          [placeholder]="'Environment'">
        </app-custom-select>
      </label>

      <label>
        Event Type
        <app-custom-select
          formControlName="event_type"
          [options]="eventTypeOptions"
          [placeholder]="'Event Type'">
        </app-custom-select>
      </label>

      <label>
        Source
        <input type="text" formControlName="source" placeholder="e.g. Frontend | Backend | API" />
      </label>
    </div>



    <div class="actions">
      <button type="submit">Submit Event</button>
    </div>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</section>
